li{
    height: 40px;
    background: rgb(244, 244, 244);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

}
li.odd{
    background: rgb(205, 204, 205);
}
